{% extends "base.html" %}

{% block content%}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{{ sample_data }}
<h2>Edit Product collection {{ collection.name.title() }}</h2>
<form action="/collections/{{ collection.slug }}" method="POST">
    {{ form.hidden_tag() }}
    {{ form.collection_name.label }}
    {{ form.collection_name }}
    <br />
    
    
    <br />
    {{ form.submit }}
</form>

{% endblock %}