{% extends "base.html" %}

{% block content%}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{{ sample_data }}
<h2>Apartmenttypes</h2>
{% for apartmenttypes in apartmenttypes %}
    <a href="{{url_for('product_col.collection', slug=apartmenttypes.slug)}}">{{ apartmenttypes.name.title() }}</a>
{% endfor %}
<br/><br/>
<h3>Legg til leilighetstype</h3>
<form action="/collections" method="POST">
    {{ form.hidden_tag() }}
    {{ form.apartmenttype_name.label }}
    {{ form.apartmenttype_name }}
    <br />
    {% if projects %}
    {{ form.project.label }}
    {{ form.project }}
    {% endif %}
    <br/>
    {{ form.submit }}
</form>
{% endblock %}