{% extends "base.html" %}

    {% block content%}
    
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{{ sample_data }}
<h2>Edit Apartmenttype {{ apartmenttype.name.title() }}</h2>
<form action="/collections/{{ apartmenttype.slug }}" method="POST">
    {{ form.hidden_tag() }}
    {{ form.apartmenttype_name.label }}
    {{ form.apartmenttype_name }}
    <br />
    {% if projects %}
    {{ form.project.label }}
    {{ form.project }}
    {% endif %}
    <br />
    {{ form.submit }}
</form>

<a href="{{url_for('product_col.delete_col', name=apartmenttype.name)}}">Delete collection</a>
<script src="{{url_for('static', filename='js/product_selection.js')}}"></script>
{% endblock %}