{% extends "base.html" %}

{% block content%}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{{ sample_data }}
<h2>Edit user: {{ user.name }}</h2>
<h2>{{ key }}</h2>
<form action="/users/{{ user.id }}" method="POST">
    {{ form.hidden_tag() }}
    {{ form.name.label }}
    {{ form.name(value = user.name) }}
    <br />
    {{ form.email.label }}
    {{ form.email(value = user.email) }}
    <br />
    {{ form.username.label }}
    {{ form.username(value = user.username) }}
    <br />
     <div class="test">
    {% for role in roles %}
    <div class="form-check">
        <input class="form-check-input" name="hello" type="checkbox" value="{{ role.id }}" id="{{role.name}}" {% if role in user.role %}checked{% endif %}>
        <label class="form-check-label" for="{{role.name}}">
          {{ role.name }}
        </label>
      </div>
    {% endfor %}
    </div> 
    {{ form.apartment.label }}
    {{ form.apartment }}
    <br />
    <br />
    {{ form.password_hash.label }}
    {{ form.password_hash }}
    <br />
    <br />
    {% for apartment in apartments %}
    <div class="form-check">
        <input class="form-check-input" name="apartments" type="checkbox" value="{{ apartment.id }}" id="{{ apartment.apartment_id }}" {% if apartment in user_selected_apartments %}checked{% endif %}>
        <label class="form-check-label" for="{{apartment.apartment_id}}">
          {{ apartment.apartment_id }}
        </label>
      </div>
    {% endfor %}
    <br />
    <br />
    {{ form.submit }}
</form>
<br /><br />
<h2>Slett bruker</h2>
<a href="{{url_for('login.delete_user', id=user.id)}}">Slett bruker</a>
{% endblock %}