{% extends "base.html" %}

{% block content%}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
    <h2>Login</h2>
    {% if name %}
    <h3>Hello {{ name }}</h3>
    {% endif %}
    <form action="#" method="post">
        {{ form.hidden_tag() }}
        {{ form.email.label }}
        {{ form.email }}
        <br />
        {{ form.password.label }}
        {{ form.password }}
        <br />
        {{ form.submit }}
    </form>

{% endblock %}