{% extends "base.html" %}

{% block content%}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{{ sample_data }}
<h2>Cart</h2>
{% if cart_items %}
    <ul>
        {% for key in standardproducts.rooms %}
            <li>{{ key }}</li>
            {% for x in standardproducts.rooms[key] %}
                <ul>
                    {% if standardproducts.rooms[key][x] is mapping %}
                        {% for y in standardproducts.rooms[key][x] %} 
                            <li>{{ y }}</li>
                            <ul>
                            {% for z in standardproducts.rooms[key][x][y]["products"] %}
                                <li>
                                    {{ z.product.produktnavn }} - {{ z.product.nrf }}<br/>
                                    Antall: {{ z.num }} {{ z.unit }}<br/>
                                    Pris: {{ z.num * z.price}}
                                    <form action="/cart" method="POST">
                                        {{ deleteForm.hidden_tag() }}
                                        <input id="product_id" name="product_id" type="text" value="{{ z.product.nrf }}" readonly>
                                        {{ deleteForm.deleteFromCart }}
                                    </form>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endfor %}    
                    {% endif %}
                </ul>
            {% endfor %}
        {% endfor %}
    </ul>
    <h3>Totalpris: {{ standardproducts.totalPrice }}</h3>
    <form action="/cart" method="POST">
        {{ form.hidden_tag() }}
        {{ form.submitOrder }}
    </form>
{% else %}
<p>No products</p>
{% endif %}
{% endblock %}