{% extends "base.html" %}

{% block content%}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{{ sample_data }}
<h2>Cart</h2>
<ul>
{% for key in standardproducts %}
    <li>{{ key }}</li>
    {% for x in standardproducts[key] %}
        {% if standardproducts[key][x] is mapping %}
            {% for y in standardproducts[key][x] %} 
                <li>{{ y }}</li>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}
</ul>
{% endblock %}