{% extends "base.html" %}

{% block content%}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{{ sample_data }}
<h2>Orders</h2>
{% if orders %}
<h3>Ordre per leilighet</h3>
    {% for order in orders %}
        <a href="{{url_for('orders.order_details', order_id=order.id)}}">{{order.leilighet_id}}</a><br />
        <form action="/user_orders" method="POST">
            {{ delete_form.hidden_tag() }}
            <input id="order_id" name="order_id" type="text" value="{{ order.id }}" readonly>
            {{ delete_form.submitDeleteOrder }}
        </form>
    {% endfor %}
{% endif %}
{% if all_orders %}
<h3>Alle ordre</h3>
    {% for order in all_orders %}
        <a href="{{url_for('orders.order_details', order_id=order.id)}}">Ordre-ID: {{ order.id }} - dato: {{ order.dato }}</a><br />
        <form action="/user_orders" method="POST">
            {{ delete_form.hidden_tag() }}
            <input id="order_id" name="order_id" type="text" value="{{ order.id }}" readonly>
            {{ delete_form.submitDeleteOrder }}
        </form>
    {% endfor %}
{% endif %}
{% endblock %}