{% extends "base.html" %}

{% block content%}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{{ sample_data }}
<h2>Order {{order.id}}</h2>
<small>Bestilt: {{ order.dato }}</small>
<ul>
    {% for key in standardproducts.rooms %}
        <li>{{ key }}</li>
        {% for x in standardproducts.rooms[key] %}
            <ul>
                {% if standardproducts.rooms[key][x] is mapping %}
                    {% for y in standardproducts.rooms[key][x] %} 
                        <li>{{ y }}</li>
                        <ul>
                        {% for z in standardproducts.rooms[key][x][y]["products"] %}
                            <li>
                                <b>{{ standardproducts.rooms[key][x][y]["products"][z]["navn"] }}</b><br/>
                                Antall: {{ standardproducts.rooms[key][x][y]["products"][z]["antall"] }}<br />
                                NRF: {{ z }}
                            </li>
                        {% endfor %}
                        </ul>
                    {% endfor %}    
                {% endif %}
            </ul>
        {% endfor %}
    {% endfor %}
</ul>
{% endblock %}