{% extends "base.html" %}

{% block content%}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<h2>products</h2>
{% if products %} 
{% for product in products %}
    <div>
        {{ product["nrf"] }} - <a href="{{url_for('products.product_edit', slug=product.slug)}}">{{ product["produktnavn"] }} - {{ product["farge"]}}</a>
    </div>
{% endfor %}
{% else %}
<p>No products</p>
{% endif %}
<br/><br/>
<h3>Importer produkter</h3>
<form action="#" method="POST" enctype=multipart/form-data>
    {{ importform.hidden_tag() }}
    {{ importform.file.label }}
    {{ importform.file }}
    {{ importform.submit }}
</form>
<br /><br />
<h3>Eksporter produkter</h3>
<a href="{{ url_for('products.download_data') }}">Export products</a>
<br /><br />
<h3>Legg til produkt</h3>
<form action="#" method="POST" enctype=multipart/form-data>
    {{ addform.hidden_tag() }}
    {{ addform.nrf.label }}
    {{ addform.nrf }}
    {{ addform.leverandor.label }}
    {{ addform.leverandor }}
    {{ addform.hovedkategori.label }}
    {{ addform.hovedkategori }}
    {{ addform.underkategori.label }}
    {{ addform.underkategori }}
    {{ addform.kategori.label }}
    {{ addform.kategori }}
    {{ addform.produktnavn.label }}
    {{ addform.produktnavn }}
    {{ addform.beskrivelse.label }}
    {{ addform.beskrivelse }}
    {{ addform.mal.label }}
    {{ addform.mal }}
    {{ addform.farge.label }}
    {{ addform.farge }}
    {{ addform.enhet.label }}
    {{ addform.enhet }}
    {{ addform.submit }}
</form>
{% endblock %}