{% extends "base.html" %}

{% block content%}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<h2>products</h2>
{% if products %} 
{% for product in products %}
    <div>
        {{ product["nrf"] }} - <a href="{{url_for('products.product_edit', slug=product.slug)}}">{{ product["produktnavn"] }}</a>
    </div>
{% endfor %}
{% else %}
<p>No products</p>
{% endif %}
<br/><br/>
<h3>Importer produkter</h3>
<form action="#" method="POST" enctype=multipart/form-data>
    {{ form.hidden_tag() }}
    {{ form.file.label }}
    {{ form.file }}
    {{ form.submit }}
</form>
<br /><br />
<h3>Eksporter produkter</h3>
<a href="{{ url_for('products.download_data') }}">Export products</a>
{% endblock %}