<form action="{{url_for('page.index_modal2', test='selected_apartment')}}", window.location.href=window.location.href, method="POST">
    {{ form.csrf_token() }}
    {{ form.apartments.label }}
    <select class="form-select" aria-label="apartments" id="apartments" name="selected_apartment">
        {% for apartment in user_apartments %}
        <option value="{{ apartment.id }}">{{ apartment.apartment_id }}</option>
        {% endfor %}
    </select>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" onclick="test()">Velg</button>
    </div>
</form>

