{% extends "base.html" %}

{% block content%}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{{ sample_data }}
<small>{{ apartment.apartment_id }} - {{ room }} - {{ category }}</small>

<h2>{{ product.produktnavn }} - {{ product.farge }}</h2>
{% if image_file %}
    <img src="{{ image_file }}" width="200px"/>
{% endif %}
{% if product.nrf %}
    <p>NRF: {{ product.nrf }}</p>
{% endif %}
{% if product.leverandor %}
    <p>Leverandør: {{ product.leverandor }}</p>
{% endif %}
{% if product.hovedkategori %}
    <p>Hovedkategori: {{ product.hovedkategori }}</p>
{% endif %}
{% if product.underkategori %}
    <p>Underkategori: {{ product.underkategori }}</p>
{% endif %}
{% if product.kategori %}
    <p>Mål: {{ product.kategori }}</p>
{% endif %}
{% if product.beskrivelse %}
    <p>Besrkivelse: {{ product.beskrivelse }}</p>
{% endif %}
{% if product.mal %}
    <p>Mål: {{ product.mal }}</p>
{% endif %}
{% if product.farge %}
    <p>Farge: {{ product.farge }}</p>
{% endif %}
{% if product.enhet %}
    <p>Enhet: {{ product.enhet }}</p>
{% endif %}
<form action="#" method="POST">
    {{ form.hidden_tag() }}
    <br />
    {{ form.submitToCart }}
</form>
{% endblock %}