{% extends "base.html" %}

{% block content%}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{{ sample_data }}
<h2>Apartments</h2>
{% for apartment in apartments %}
    <a href="{{url_for('apartments.apartment_edit', slug=apartment.slug)}}">{{ apartment.apartment_id.title() }}</a>
{% endfor %}
<br/><br/>
<h3>Legg til leilighet</h3>
<form action="/apartments" method="POST">
    {{ form.hidden_tag() }}
    {{ form.apartment_id.label }}
    {{ form.apartment_id }}
    <br />
    {% if projects %}
    {{ form.project.label }}
    {{ form.project }}
    {% endif %}
    <br />
    {{ form.submit }}
</form>
{% endblock %}