{% extends "base.html" %}

{% block content%}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{{ sample_data }}
<h2>Edit Apartment {{ apartment_id }}</h2>
<form action="/apartments/{{ slug }}" method="POST">
    {{ form.hidden_tag() }}
    {{ form.apartment_id.label }}
    {{ form.apartment_id }}
    <br />
    {% if projects %}
    {{ form.project.label }}
    {{ form.project }}<br/>
        {% if apartmenttypes %}
            {{ form.apartmenttype.label }}
            {{ form.apartmenttype }}
        {% endif %}
    {% endif %}
    <br />
    {{ form.submit }}
</form>
<a href="{{url_for('apartments.delete_apartment', id=id)}}">Delete apartment</a>
{% endblock %}